* {
    margin: 0px;
    font-family: 'GlacialIndifferenceRegular';
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #1e1e1e;
}

.navbar {
    background-color: rgb(48, 99, 42);
    padding: 8px 15%;
}

.navbar i {
    font-size:60px;
    float:left;
    margin-right:16px;
}

.menu a {
    margin-top: 16px;
    margin-right: 16px;
    text-decoration: none;
    display: inline-flex;
}

.menu a:hover {
    text-decoration: overline;
}

.menu {
    background-color: rgb(48, 99, 42);
    padding: 8px 15%;
}

.dropdown {
    overflow: hidden;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(48, 99, 42);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 120px;
    z-index: 1;
}

.dropdown-content a {
    float:none;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.header {
    padding: 8px 15%;
    text-align:center;
    margin: 32px;
}

.header i {
    margin: 32px;
    font-size: 128px;
}

.footer {
    background-color: rgb(48, 99, 42);
    padding: 8px 15%;
}

.footer a {
    font-size: 24px;
    margin: 16px;
    text-decoration: none;
}

.footer a:hover {
    color: black;
}

.select {
    text-align: left;
    margin: 32px;
    padding: 8px 15%;
}

.select i {
    font-size: 36px;
}

.select a {
    margin: 32px;
    font-size: 36px;
    text-decoration: none;
}

.select a:hover {
    color: rgb(48, 99, 42);
}

.select table td {
  min-width: 120px;
}

.line {
    width: 100%;
    background-color: rgb(48, 99, 42);
    padding: 1px;
    margin: 8px 0px;
}